.menu__container{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index:1;
    top:0;
    padding: 5px !important;
    background-color: #57ffc2;
}

.item-logo{
    margin-left: 15px;
    height: 50px;
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
    width: 50px;
  
}
.menu__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__container .item{
    margin-left: 1.5em;
}


.item i{
    color:#FF00CC ;
    margin-right: 0.5em;
}
.item i:hover{
  zoom:0.9
}

.item a {
    color:#041256;
    zoom: 1.1;
    letter-spacing: 1px;
}

.item a:hover {
  font-weight: 600;
  font-size: 1.5rem;
    zoom: 1.25;
    letter-spacing: 1.25px;
    text-decoration: underline;

}